extends layout

block header
  .actions
    .action-left
      .line
        .amount#sj-used #{accounts[0].sj_used}
        .unit SunJoules used
      .line
        .amount#more-available #{accounts[0].mt_account}
        .unit More
    .action-right
      a(href='/account')
        != h.icon('clipboard')
        span.sr-only Account

block content
  .streak-wrapper
    a(href="/refill")
      .sun-animation
        != h.icon('sun-spinner')
    p #{user.solar_streak} Days using solar
  
  - var fillLevel = accounts[0].sj_account / 200;
  .fill(data-fill=fillLevel)
