extends layout

block header
  .headline
    .banner
      != h.icon('login-banner')

block content
  .form-wrapper
    form.form(action="/verify" method="POST")
      input.display-none(type="text" name="phone" value=phone)
      label.sr-only(for="code") Your verification code
      input.form-control(type="text" name="code" placeholder="Your verification code...")
      button.btn.btn-primary(type="submit") Submit

  .logo
    != h.icon('via-blockchain')
