extends layout

block content
  .overlay-wrapper
    .overlay
      .header
        a.float-right(href="/" alt="Home") X
        h2.text-align-center Welcome! How does this app work?
      
      .welcome-content
        .welcome-col
          h1 1
          h2 Use SunJoules
          p SunJoule#[sup TM] solar microcredits are like tiny energy offsets. They represent increments of solar energy available on the electric grid.
        .welcome-col
          h1 2
          h2 Don't run out
          p Each day the app uses enough SunJoules to offset a typical cell phone's energy use. If you want to use more, you can change to 120% or even 200% solar, but don't run out. 
          p If the green level drops to zero, you loose your streak and aren't using solar anymore.
        .welcome-col
          h1 3
          h2 Earn More each week
          p Every Sunday you earn More#[sup TM] reward tokens based on how many SunJoules you used that week. It's simple: #[b Use Solar, Get More].
          p Have fun, and thanks for supporting solar energy.
          
            
      
          
          
          
