.headline{
	position: absolute;
	top: 12%;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
}
@media(max-width : 767px) {
	.headline{
		top: 24px;
	}
}
.banner{
	width: 200px;
	max-width: 60%;
}
.logo{
	position: absolute;
	right:10px;
	bottom:10px;
	width:100px;
	height:auto;
}
.form-wrapper{
	width: 240px;
	max-width: 100%;
	margin: auto;
}
