.overlay__header{
  text-align:right;
  color:$grey;
}
.overlay__body{
  flex:1;
  display:flex;
  flex-direction:column;
  text-align:center;
  justify-content:center;
}
.table{
  flex:1;
  border-top: 2px solid $black;
  .row{
    border-bottom: 1px solid $grey;
    &:last-of-type {
      border: none;
    }
  }
}
.table-head{
  h2{
    font-size: 2rem;
    text-align: center;
  }
  .cell{
    &--clickable{
      cursor: pointer;
      border-bottom:1px solid $grey;
    }
    &--active{
      border-bottom:5px solid $darkGreen;
      h2{
        color: $darkGreen;
      }
    }
  }
}
.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:5px;
}
.cell{
  flex: 1;
  h4{
    margin-bottom: 0;
  }
  &--number{
    text-align: right;
  }
}
.settings{
  height:120px;
  display:flex;
  align-items: stretch;
  padding-top:10px;
  border-top: 1px solid $grey;
}
.setting-box{
  text-align: center;
  color: $darkGrey;
  flex:2;
}
.webapp-image{
  width:65px;
  margin:auto;
}
.multiplier{
  @media (min-width: 726px) {
    flex:1;
  }
  border-left: 1px solid $grey;
  h2{
    margin:12px;
  }
}
.controls{
  display: flex;
  justify-content: space-around;
  a{
    color: $darkGrey;
    text-decoration: none;
    &:hover{
      color: $darkGreen;
    }
  }
}
