$black: #4d4d4d;
$width: 800px;
$blue: #0dbdff;
$darkBlue: #008cc0;
$green: #8aff1a;
$darkGreen: #6cdc00;
$yellow: #ffcf36;
$magenta: #f51fff;
$grey: #ccc;
$darkGrey: #999;
$shad: 0 0 10px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.05);
