.player {
  max-width:100%;
  border:5px solid rgba(0,0,0,0.2);
  box-shadow:0 0 20px rgba(0,0,0,0.2);
  position: relative;
  font-size: 0;
  overflow: hidden;
}
.player__video {
  width: 100%;
}
.progress {
  flex:10;
  position: relative;
  display:flex;
  flex-basis:100%;
  height:5px;
  background:rgba(0,0,0,0.5);
}
.progress__filled {
  width:50%;
  background:$green;
  flex:0;
  flex-basis:50%;
}
