.player {
  max-width:100%;
  border:5px solid rgba(0,0,0,0.2);
  box-shadow:0 0 20px rgba(0,0,0,0.2);
  position: relative;
  font-size: 0;
  overflow: hidden;
}
.player__video {
  width: 100%;
}
.progress {
  flex:10;
  position: relative;
  display:flex;
  flex-basis:100%;
  height:5px;
  background:rgba(0,0,0,0.5);
}
.progress__filled {
  width:50%;
  background:$green;
  flex:0;
  flex-basis:0%;
}
button.playVideo{
  position:absolute;
  height:50px;
  width:50px;
  top:calc(50% - 25px);
  left:calc(50% - 25px);
  background-color:rgba(0,0,0,0.8);
  border-radius:50%;
  border:none;
  cursor:pointer;
  font-size:32px;
  padding-left:15px;
  color:#fff;
}
